@import "tailwindcss";

:root {
  --scrollbar-track-bg: #0a1f0f;
  --scrollbar-thumb-bg: linear-gradient(
    to bottom,
    rgb(34, 197, 94),
    rgb(5, 150, 105)
  );
}

body {
  @apply m-0;
  font-family:
    -apple-system, BlinkMacSystemFont, "Segoe UI", "Roboto", "Oxygen", "Ubuntu",
    "Cantarell", "Fira Sans", "Droid Sans", "Helvetica Neue", sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

code {
  font-family:
    source-code-pro, Menlo, Monaco, Consolas, "Courier New", monospace;
}

@theme {
  --color-primary: #0f1e13;
  --color-secondary: #1a3a24;
  --color-highlights: #22c55e;
}

.text-stroke {
  -webkit-text-stroke: 0.5px;
  -webkit-text-stroke-color: var(--color-highlights);
}

/* Scrollbar styles */
::-webkit-scrollbar {
  width: 15px;
}

::-webkit-scrollbar-track {
  background-color: var(--scrollbar-track-bg);
  border-radius: 10px;
}

::-webkit-scrollbar-thumb {
  background: var(--scrollbar-thumb-bg);
  border-radius: 10px;
}
